{% extends "base.twig" %}

{% block main %}
	<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
		<div class="card-header">Características</div>
		<div class="card-body">
			<h5 class="card-title">Primary card title</h5>
			<p class="card-text">
				Las características comunes a todos los procesadores RISC, fuente de sus capacidades de altas prestaciones son: Modelo de conjunto de instrucciones Load/Store que significa: Cargar-Almacenar. Sólo las instrucciones Load/Store acceden a memoria; las demás operaciones en un RISC, tienen lugar en su gran conjunto de registros. Ello simplifica el direccionamiento y acorta los tiempos de los ciclos de la CPU, además facilita la gestión de los fallos de paginas page faults en entornos de memoria virtual, permite un elevado nivel de concurrencia a consecuencia de la independencia de las operaciones de Load/Store de la ejecución del resto de las instrucciones.
			</p>
		</div>
	</div>
{% endblock %}
