{% extends "base.twig" %}

{% block main %}
 <img src="res/imagenes/risc_1.jpg" alt="..." class="img-thumbnail">
	<div class="row row-cols-1 row-cols-md-2">
		<div class="col mb-4">
			<div class="card text-white bg-primary">
				<div class="card-header"></div>
				<div class="card-body">
					<h5 class="card-title">Concepto</h5>
					<p class="card-text">En arquitectura computacional, RISC (del inglés Reduced Instruction Set Computer, en español Computador con Conjunto de Instrucciones Reducidas) es un tipo de diseño de CPU generalmente utilizado en microprocesadores o microcontroladores.</p>
				</div>
			</div>
		</div>
		<div class="col mb-4">
			<div class="card text-white bg-secondary">
				<div class="card-header"></div>
				<div class="card-body">
					<h5 class="card-title">características</h5>
					<p class="card-text">Las características comunes a todos los procesadores RISC, fuente de sus capacidades de altas prestaciones son: Modelo de conjunto de instrucciones Load/Store que significa: Cargar-Almacenar. Sólo las instrucciones Load/Store acceden a memoria; las demás operaciones en un RISC, tienen lugar en su gran conjunto de registros.</div>
			</div>
		</div>
	</div>
{% endblock %}
