{% extends "base.twig" %}
{% block main %}
<div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card">
      <img src="res/imagenes/Mac.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Concepto</h5>
        <p class="card-text"> es un sistema informático que coordina diferentes ordenadores con una infraestructura de hardware y software con el fin de resolver problemas de gran magnitud. Generalmente, un grid se encarga de realizar varias tareas dentro de una red de trabajo, sin embargo, también puede trabajar en aplicaciones especializadas. </p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="res/imagenes/Mac.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">tipos de grid</h5>
        <p class="card-text">Data Grid o Grid de datos: es una estructura o conjunto de servicios que brinda a los individuos o grupos de usuarios la capacidad de acceder, modificar y transferir grandes cantidades de datos distribuidos geográficamente con fines de investigación.
CPU Scavenging Grid: es una técnica que usa los ciclos de instrucciones en ordenadores para evitar que se desperdicie durante el tiempo que el dispositivo espera la entrada del usuario u otros aparatos más lentos..</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="res/imagenes/Mac.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Características</h5>
        <p class="card-text">Data Grid o Grid de datos: es una estructura o conjunto de servicios que brinda a los individuos o grupos de usuarios la capacidad de acceder, modificar y transferir grandes cantidades de datos distribuidos geográficamente con fines de investigación.
CPU Scavenging Grid: es una técnica que usa los ciclos de instrucciones en ordenadores para evitar que se desperdicie durante el tiempo que el dispositivo espera la entrada del usuario u otros aparatos más lentos..</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="res/imagenes/Mac.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Importancia</h5>
        <p class="card-text">Data Grid o Grid de datos: es una estructura o conjunto de servicios que brinda a los individuos o grupos de usuarios la capacidad de acceder, modificar y transferir grandes cantidades de datos distribuidos geográficamente con fines de investigación.
CPU Scavenging Grid: es una técnica que usa los ciclos de instrucciones en ordenadores para evitar que se desperdicie durante el tiempo que el dispositivo espera la entrada del usuario u otros aparatos más lentos..</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}