{% extends "base.twig" %}

{% block main %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
  {%for tema in ListaTemas %}
<tr>
      <th scope={{tema.getId_tema}}>1</th>
      <td>tema.getNombre_tema}}</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  
  {% endfor %}
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
<br>
<form method= "post">
  <div class="form-group">
    <label for="NombreTema">Nombre del nuevo tema</label>
    <input type="Text" class="form-control" id="nombreTema" name="nombreTema"aria-describedby="temaAyuda">
    <small id="temaAyuda" class="form-text text-muted">por favor escribe el nombre del nuevo tema.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Guardar</button>
</form>
{% endblock %}



